In [1]:
people = {
    'first':['sourav','soumen','robin'],
    'last':['singha','saha','hr'],
    'email':['souravsingha@gmail.com','soumensaha@gmail.com','robin@gmail.com']
}
import pandas as pd
df = pd.DataFrame(people)
df

    first    last                   email
0  sourav  singha  souravsingha@gmail.com
1  soumen    saha    soumensaha@gmail.com
2   robin      hr         robin@gmail.com

In [2]:
type(df['email'])

pandas.core.series.Series

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.count

<bound method DataFrame.count of     first    last                   email
0  sourav  singha  souravsingha@gmail.com
1  soumen    saha    soumensaha@gmail.com
2   robin      hr         robin@gmail.com>

In [5]:
type(df[['first','email']])

pandas.core.frame.DataFrame

In [6]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [7]:
df.iloc[2]['first']

'robin'

In [8]:
df.iloc[[0,1],2]

0    souravsingha@gmail.com
1      soumensaha@gmail.com
Name: email, dtype: object

In [9]:
df.loc[[0,1],['first','email']]

    first                   email
0  sourav  souravsingha@gmail.com
1  soumen    soumensaha@gmail.com