In [41]:
people = {
    'first':['sourav','soumen','robin'],
    'last':['singha','saha','hr'],
    'email':['souravsingha@gmail.com','soumensaha@gmail.com','robin@gmail.com']
}
import pandas as pd
df = pd.DataFrame(people)
df

    first    last                   email
0  sourav  singha  souravsingha@gmail.com
1  soumen    saha    soumensaha@gmail.com
2   robin      hr         robin@gmail.com

In [5]:
type(df['email'])

pandas.core.series.Series

In [3]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df.count

<bound method DataFrame.count of                          first    last
email
souravsingha@gmail.com  sourav  singha
soumensaha@gmail.com    soumen    saha
robin@gmail.com          robin      hr>

In [6]:
df[['first','email']]

    first                   email
0  sourav  souravsingha@gmail.com
1  soumen    soumensaha@gmail.com
2   robin         robin@gmail.com

In [6]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [7]:
df.iloc[2]['first']

'robin'

In [8]:
df.iloc[[0,1],2]

0    souravsingha@gmail.com
1      soumensaha@gmail.com
Name: email, dtype: object

In [36]:
df.loc[[0,1],['email','first']]

                    email   first
0  souravsingha@gmail.com  sourav
1    soumensaha@gmail.com  soumen

In [42]:
df.set_index("email",inplace=True)

In [43]:
df

                         first    last
email
souravsingha@gmail.com  sourav  singha
soumensaha@gmail.com    soumen    saha
robin@gmail.com          robin      hr

In [47]:
df.loc[['souravsingha@gmail.com','soumensaha@gmail.com'],['first','last']]

                         first    last
email
souravsingha@gmail.com  sourav  singha
soumensaha@gmail.com    soumen    saha

In [49]:
df.iloc[0]

first    sourav
last     singha
Name: souravsingha@gmail.com, dtype: object

In [53]:
df.reset_index(inplace=True)
df

ValueError: cannot insert level_0, already exists